In [26]:
import mysql.connector

In [38]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "pysql",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
mydb.commit()

In [39]:
if mydb.is_connected():
    print("Database Connected")

Database Connected

In [41]:
#cursor.execute("CREATE DATABASE employee_data")
#print("Database created successfully.....")

In [54]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
drop_query="DROP TABLE IF EXISTS customers"
cursor.execute(drop_query)
sql = '''CREATE TABLE IF NOT EXISTS customers(customer_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        address VARCHAR(255))'''
cursor.execute(sql)
print("Table Created Successfully")
mydb.commit()

Table Created Successfully

In [55]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = ''' INSERT INTO customers(name, address) VALUES (%s, %s)'''
val = ("Indra", "Texas")
cursor.execute(sql, val)
mydb.commit()
print("{} data added".format(cursor.rowcount))

1 data added

In [56]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = '''INSERT INTO customers(name, address) VALUES (%s, %s)'''
val = [
       ("dandy", "laksh"),
       ("abi", "vlk"),
       ("nani", "kolt"),
       ("rud", "chn"),
        ("shale", "madr")]
for i in val:
    cursor.execute(sql, i)

mydb.commit()
print("{}  data inserted".format(cursor.rowcount))

1  data inserted

In [57]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = '''SELECT * FROM customers'''
cursor.execute(sql)
result = cursor.fetchone()
print(result)

(1, 'Indra', 'Texas')

In [58]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = '''SELECT * FROM customers'''
cursor.execute(sql)
result = cursor.fetchall()
print(result)

[(1, 'Indra', 'Texas'), (2, 'dandy', 'laksh'), (3, 'abi', 'vlk'), (4, 'nani', 'kolt'), (5, 'rud', 'chn'), (6, 'shale', 'madr')]

In [59]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = '''DELETE FROM customers WHERE customer_id=%s'''
val = (14, )
cursor.execute(sql, val)
mydb.commit()
print("{} data deleted".format(cursor.rowcount))

0 data deleted

In [60]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()
sql = '''UPDATE customers SET name=%s, address=%s WHERE customer_id=%s'''
val=("ashi", "beach", 2)
cursor.execute(sql, val)
mydb.commit()
print("{} data Updated".format(cursor.rowcount))

1 data Updated

In [ ]:
#CURDS APP

import os
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Indranibk95@",
    database = "employee_data",
    auth_plugin = 'mysql_native_password')
cursor = mydb.cursor()

def insert_data(mydb):
    name=input("Enter Name: ")
    address=input("Enter Address: ")
    val=(name, address)
    cursor=mydb.cursor()
    sql='''INSERT INTO customers (name, address) VALUES (%s, %s)'''
    cursor.execute(sql, val)
    mydb.commit()
    print("{} Data Inserted".format(cursor.rowcount))

def show_data(mydb):
    cursor=mydb.cursor()
    sql='''SELECT * FROM customers'''
    cursor.execute(sql)
    result=cursor.fetchall()
    if cursor.rowcount < 0:
        print("Empty database")
    else:
        for data in result:
            print(data)

def update_data(mydb):
    cursor=mydb.cursor()
    show_data(mydb)
    customer_id=input("Choose customer id:")
    name=input("Name: ")
    address=input("Address: ")
    sql='''UPDATE customers SET name=%s, address=%s WHERE customer_id=%s'''
    val=(name, address, customer_id)
    cursor.execute(sql, val)
    mydb.commit()
    print("{} Data Successfully Changed: ".format(cursor.rowcount))

def delete_data(mydb):
    cursor=mydb.cursor()
    show_data(mydb)
    customer_id=input("choose customer_id: ")
    sql='''DELETE FROM customers WHERE customer_id=%s'''
    val=(customer_id,)
    cursor.execute(sql,val)
    mydb.commit()
    print("{} Data Successfully deleted".format(cursor.rowcount))

def search_data(mydb):
    cursor=mydb.cursor()
    keyword = input("Keyword: ")
    sql='''SELECT * FROM customers WHERE name LIKE %s OR address LIKE %s'''
    val=("%{}%".format(keyword), "%{}%".format(keyword))
    cursor.execute(sql, val)
    result=cursor.fetchall()

    if cursor.rowcount < 0:
        print("No data Found")
    else:
        for data in result:
            print(data)


def show_menu(db):
    print("Python Database")
    print("1. Insert Data")
    print("2. Show Data")
    print("3. Update Data")
    print("4. Delete Data")
    print("5. Search Data")
    print("0. Out")

    menu= input("Choose menu")
    os.system("clear")

    if menu == "1":
        insert_data(mydb)
    elif menu == "2":
        show_data(mydb)
    elif menu == "3":
        update_data(mydb)
    elif menu == "4":
        delete_data(mydb)
    elif menu == "5":
        search_data(mydb)
    elif menu == "0":
        exit()
    else:
        print("Wrong Option")
if __name__=="__main__":
    while(True):
        show_menu(mydb)

Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 1
Enter Name:  rudra
Enter Address:  laksh

1 Data Inserted
Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 2

(1, 'Indra', 'Texas')
(2, 'ashi', 'beach')
(3, 'abi', 'vlk')
(4, 'nani', 'kolt')
(5, 'rud', 'chn')
(6, 'shale', 'madr')
(7, 'indra', 'vlk')
(8, 'ind', 'ch')
(9, 'dev', 'kmn')
(10, 'rudra', 'laksh')
Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 3

(1, 'Indra', 'Texas')
(2, 'ashi', 'beach')
(3, 'abi', 'vlk')
(4, 'nani', 'kolt')
(5, 'rud', 'chn')
(6, 'shale', 'madr')
(7, 'indra', 'vlk')
(8, 'ind', 'ch')
(9, 'dev', 'kmn')
(10, 'rudra', 'laksh')

Choose customer id: 2
Name:  ash
Address:  bch

1 Data Successfully Changed:
Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 4

(1, 'Indra', 'Texas')
(2, 'ash', 'bch')
(3, 'abi', 'vlk')
(4, 'nani', 'kolt')
(5, 'rud', 'chn')
(6, 'shale', 'madr')
(7, 'indra', 'vlk')
(8, 'ind', 'ch')
(9, 'dev', 'kmn')
(10, 'rudra', 'laksh')

choose customer_id:  8

1 Data Successfully deleted
Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 5
Keyword:  kmn

(9, 'dev', 'kmn')
Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out

Choose menu 0

Python Database
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Out